<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/request" routerDirection="forward"> Request a Tour </ion-button> <!--"button back" og 2 linjer ned tilføjet fra ionic bog kap 4 s87-->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start"> <!--"button back" og 2 linjer ned tilføjet fra ionic bog kap 4 s86-->
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Details</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
